@use '../base/variables' as v;
@use '../base/mixins' as m;
.dark-mode {
    background-color: darken($color: v.$gris, $amount: 80);
    .header {
        background-color: darken($color: v.$terciario, $amount: 70);
    }
    h2,
    h3 {
        color: v.$blanco;
    }
    p {
        color: v.$gris;
    }
    .propiedad {
        &__titulo {
            background-color: darken($color: v.$gris, $amount: 90);
        }
        &__contenido {
            background-color: darken($color: v.$gris, $amount: 60);
        }
        span {
            color: v.$gris;
        }
        .icono {
            &__img {
                filter: invert(100%);
            }
        }
    }
    .blog {
        background-color: darken($color: v.$gris, $amount: 60);
        border: 1px solid v.$negro;
        &__titulo {
            color: v.$blanco;
        }
        span {
            color: darken($color: v.$primario, $amount: 90);
        }
    }
    .testimonial {
        &__contenido {
            background-color: darken($color: v.$terciario, $amount: 65);
        }
    }
    .footer {
        background-color: darken($color: v.$terciario, $amount: 70);
    }
    .formulario {
        legend {
            color: v.$blanco;
        }
        fieldset {
            border: .2rem solid v.$gris;
        }
        .campo {
            &__label {
                color: v.$gris;
            }
            &__input,
            textarea {
                background-color: darken($color: v.$terciario, $amount: 70);
                color: v.$blanco;
            }
        }
    }
    .admin__titulo {
        color: v.$blanco;
    }
    .lista {
        td {
            color: v.$blanco;
        }
    }
}