@use '../base/variables' as v;
@use '../base/mixins' as m;
.footer {
    background-color: v.$primario;
    &__contenido {
        padding-top: 2rem;
    }
    .nav {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    &__copy {
        color: v.$blanco;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        margin: 0;
        font-weight: bold;
    }
}